<%= form_for(@article) do |f| %>
 <div class="form-group">
    <p><%= f.label :title %></p>
    <%= f.text_field :title, size: "60x0" %>
  </div>
  <div class="form-group">
    <p><%= f.label :content %></p>
    <%= f.text_area :content, size: "60x5" %>
  </div>
  <%= f.submit :id => "submit" %>
<% end %>
